.home-wrapper {
  height: 100vh;
  /* width: 100%; */

  display: flex;
  flex-direction: column;

  background: #F4F4F4;
  padding: 15px;
}

.home-content {
  background: rebeccapurple;
}

.home-header {
  background: cadetblue;
  margin: 10px;
}