.home-wrapper {
  height: 100vh;
  width: 100%;

  /* display: block; */
  /* flex-direction: column; */
}

.home-content {
  height: 500px;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.home-cards {
  height: 100%;
}

.home-loading-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-card-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home-header {
  background: cadetblue;
  margin: 10px;
}