.home-wrapper {
  height: 100vh;
  width: 100%;

  /* display: block; */
  /* flex-direction: column; */
}

.home-content {
  /* width: 100%; */
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.home-header {
  background: cadetblue;
  margin: 10px;
}