.personalise-account-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personalise-account-form-container {
  width: 350px;
  flex-direction: column;
  display: flex;
  padding: 20px 20px;
}

.personalise-account-button-group {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.personalise-account-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.personalise-account-heading-group {
  margin-bottom: 10px;
}

.personalise-account-heading {
  margin-bottom: 10px;
}

.personalise-account-info-box-div {
  margin-top: 5px;
  margin-bottom: 10px;
}

.account-icon {
  display: block;
  height: 140px;
  width: 140px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.back-button,
.go-to-home-button {
  margin-right: 10px;
}