.event-details-wrapper {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.event-details-body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.event-details-loading-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-details-contents {
  display: flex;
  flex-direction: column;
}

.event-details-image-header {
  width: 100%;
}

.event-image {
  display: block;
  height: 195px;
  width: 100%;
  object-fit: cover;
}

.event-details-info {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
}

.event-details-heading-group {
  margin-bottom: 6px;
}

.event-details-heading-group > *:not(:last-child) {
  margin-bottom: 10px;
}

.event-details-heading-group h2 {
  margin: 0px;
}

.event-details-heading-group label {
  font-size: 18px;
  margin: 0px;
}

.event-details-heading-group p {
  color: #836FEA;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.event-details-info {
  display: flex;
  flex-direction: column;
}

.event-details-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 210px;
}

.event-details-text label {
  color: #9492A0;
  font-size: 14px;
  text-align: center;
  margin: 10px 0 0 0;
}

.event-details-book-button-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.event-details-book-button-container {
  display: flex;
}

.event-details-book-button-container .gradient-layer {
  width: 100%;
  padding: 150px 40px 40px 40px;
  background: linear-gradient(0deg, rgba(243,243,247,1) 60%, rgba(243,243,247,0) 100%);
}

.event-details-book-button-container .gradient-layer > *:not(:last-child) {
  margin-bottom: 10px;
}

.event-details-book-button-container button {
  width: 100%;
}