@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');

/* By default, disable scrolling in potrait mode */
@media screen and (orientation:portrait) {
  html,
  body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

@media screen and (orientation:landscape) {
  html,
  body {
    margin: 0;
  }
}

body {
  background-color: #F3F3F7;
}

p {
  font-family: 'Rubik', sans-serif;
}

a:link,
a:visited {
  color: #FBFBFB;
}

label {
  margin-left: 5px;
}

.app-wrapper {
  height: 100vh;
  width: 100%;
}

.app-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-icon {
  height: 150px;
}

.app-content > *:not(:last-child) {
  margin-bottom: 20px;
}

.back-button {
  position: fixed;
  top: 34px;
  left: 34px;
  transition: all 0.3s ease-in-out;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  user-drag: none;
}

.back-button:active {
  animation: bounce-in 0.15s forwards;
}

.back-button:not(:active),
.back-button:not(:hover) {
  animation: bounce-out 0.15s forwards;
}

@keyframes bounce-in {
  0% { transform: scale(1.0); }
  100% { transform: scale(0.8); }
}

@keyframes bounce-out {
  0% { transform: scale(0.8); }
  100% { transform: scale(1.0); }
}

@-webkit-keyframes bounce-in {
  0% { transform: scale(1.0); }
  100% { transform: scale(0.8); }
}

@-webkit-keyframes bounce-out {
  0% { transform: scale(0.8); }
  100% { transform: scale(1.0); }
}